*~
_build
/_tags
/myocamlbuild.ml
*.native
*.byte
/local
/why3
/_tools
/proofgeneral/_local
setup.data
setup.log
/attic

/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.fdb_latexmk
/doc/*.fls
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.toc

/doc/easycrypt.pdf
