*~
_build
*.native
*.byte
*.exe
*.pyc
*.pyo
.vagrant
/local
/why3
/_tools
/proofgeneral/_local
setup.data
setup.log
/attic
/attic.ec*
/theories/attic

/system/*.o
/system/callprover
/system/callprover.exe

*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.synctex.gz
*.kilepr

/doc/refman/easycrypt.pdf
/doc/userman/easycrypt.pdf

/extraction/Makefile
/extraction/setup.*
/extraction/configure
/extraction/_build/

/sandbox
/attic

/*.ec

/*.smt
/*.why
