*~
_build
*.native
*.byte
*.exe
*.pyc
*.pyo
/local
/why3
/_tools
/proofgeneral/_local
setup.data
setup.log
/attic
/theories/attic

/system/*.o
/system/callprover
/system/callprover.exe

/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.fdb_latexmk
/doc/*.fls
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.toc

/doc/easycrypt.pdf

/extraction/Makefile
/extraction/setup.*
/extraction/configure
/extraction/_build/

/sandbox
