opam-version: "2.0"

homepage: "https://www.easycrypt.info/"
bug-reports: "https://www.easycrypt.info/trac/newticket"
dev-repo: "git+https://github.com/EasyCrypt/easycrypt.git"
authors: "EasyCrypt Development Team <team@easycrypt.info>"
maintainer: "pierre-yves@strub.nu"
license: "CeCILL-C"

pin-depends: [
  ["why3.1.8.2" "git+https://github.com/EasyCrypt/why3.git#53f8c40faacfca3ad01edf1071017b4e7fa29688"]
]

synopsis: "EasyCrypt: Computer-Aided Cryptographic Proofs"
description: """
EasyCrypt is a toolset for reasoning about relational properties
of probabilistic computations with adversarial code. Its main
application is the construction and verification of game-based
cryptographic proofs."""

post-messages: """
EasyCrypt needs external provers to be installed. From opam, you
can install AltErgo (package: alt-ergo).

The required steps for configuring the provers are listed on:
  https://github.com/EasyCrypt/easycrypt#configuring-why3"""
