{% load staticfiles %}

<!DOCTYPE HTML>

<html>
    <head>
       <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} EC WebUI</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'ec/css/bootstrap.min.css' %}" rel="stylesheet">

        {% block css %}{% endblock %}

        <!-- Custom style -->
        <link href="{% static 'ec/css/theme.css' %}" rel="stylesheet">

        <!-- IE8 HTML5 -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'ec:index' %}">EasyCrypt WebUI</a>
                </div>
                <div class="collapse navbar-collapse">
<!--
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                    </ul>
-->
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li><a href="#" data-toggle="modal"
                               data-target="#newprojmodal">New project</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ user.username }}
                                <b class="caret"></b>
                                <ul class="dropdown-menu">
                                    <li><a id="logout" href="{% url 'ec:logout' %}">Logout</a></li>
                                </ul>
                            </a>
                        </li>
                        {% else %}
                        <li><a href="{% url 'ec:login' %}">Log in</a></li>
                        <li><a href="{% url 'ec:register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-content container-fluid full-height">
            {% block content %}
            {% endblock %}
        </div>

        <!-- jQuery -->
        <script src="{% static 'ec/js/jquery-1.11.0.js' %}"></script>
        <script src="{% static 'ec/js/jquery.cookie.js' %}"></script>

        <!-- Bootstrap JS -->
        <script src="{% static 'ec/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'ec/js/util.js' %}"></script>

        {% block js %}{% endblock %}
    </body>
</html>