{% extends "ec/base.html" %}
{% load staticfiles %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <div class="row">
            <ul id="projects" class="nav nav-sidebar active-no-hover" />
        </div>
        <div class="row">
            <button type="button" class="btn btn-default">New project</button>
            <button type="button" class="btn btn-default">New file</button>
            <hr />
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 editor">
    <div class="row">
        <div class="col-md-10">
            <ul id="tabs" class="nav nav-pills">
            </ul>
        </div>
        <div class="col-md-2">
            <ul id="tab-controls" class="nav navbar-right nav-pills">
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-minus"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="row editor">
        <textarea disabled id="file-contents" class="form-control"></textarea>
    </div>
</div>
{% else %}
<h1>Welcome to the EasyCrypt WebUI.</h1>
<h4>Please log in to start working.</h4>
{% endif %}
{% endblock %}

{% block jquery %}
<script src="{% static 'ec/js/index.js' %}"></script>
{% endblock %}
