{% extends "ec/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="row full-height">
    <div id="projects" class="col-sm-2 col-md-2 full-height">
    </div>

    <div class="col-sm-10 col-md-10 full-height">
        <div class="row">
            <div class="col-md-10">
                <ul id="tabs" class="nav nav-pills">
                </ul>
            </div>
            <div class="col-md-2">
                <ul id="tab-controls" class="nav navbar-right nav-pills">
                    <li><a id="close-tab" href="#"><span class="glyphicon glyphicon-minus"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row full-height">
            <textarea id="file-contents" class="form-control" disabled></textarea>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="newprojmodal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm"><div class="modal-content">
        {% crispy newprojform %}
    </div></div>
</div>
<div class="modal fade" id="newfilemodal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md"><div class="modal-content">
        {% crispy newfileform %}
    </div></div>
</div>
<!------------>

{% else %}
<center>
<h1>Welcome to the EasyCrypt WebUI.</h1>
<h4>Please log in to start working.</h4>
</center>
{% endif %}
{% endblock %}

{% block jquery %}
<script src="{% static 'ec/js/index.js' %}"></script>
{% endblock %}
