[default]
bin = ./ec.native

[test-unit]
okdirs  = tests/*/success
kodirs  = tests/*/fail
exclude = tests/pbhl/success tests/pbhl/failure

[test-prelude]
args   = -boot
okdirs = theories/prelude

[test-stdlib]
okdirs  = theories theories/*
exclude = theories/prelude

[test-examples]
okdirs = examples
