[test-prelude]
args   = -boot
okdirs = theories/prelude

[test-stdlib]
okdirs  = !theories
exclude = theories/prelude

[test-examples]
okdirs  = !examples
exclude = examples/MEE-CBC examples/old examples/old/list-ddh !examples/incomplete examples/to-port !examples/tcstdlib !examples/typeclasses

[test-mee-cbc]
okdirs = examples/MEE-CBC

[test-unit]
okdirs = !tests
exclude = tests/tc-ko tests/exception !tests/require_test

[test-exception]
okdirs = tests/exception

[test-tc-ko]
kodirs = !tests/tc-ko
