body {
   background: #f9f9f9;
  padding-top: 70px;
}

/* Code viewer */
#ec-code {
  width: 100%;
}

#ec-feedback {
       width: 100%;
  background: #f7f7f7;
   max-width: 100%;
}

/* CodeMirror */
.CodeMirror {
     border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.CodeMirror-wrap pre {
   word-break: normal;
  line-height: inherit; 
        color: inherit; 
}

.CodeMirror div.CodeMirror-cursor {
  z-index: 1000;
}

.ec-read-only {
  background-color: #ccc;
}
