<!DOCTYPE html>
<html>
<head>
  <title>editor</title>

  <script src="../jquery/jquery.js" type="text/javascript"></script>
  <script src="../jquery/jquery-format.js" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="../codemirror/lib/codemirror.css" />
  <script src="../codemirror/lib/codemirror.js" type="text/javascript"></script>
  <script src="../codemirror/addon/search/searchcursor.js" type="text/javascript"></script>
  <script src="../codemirror/addon/selection/mark-selection.js" type="text/javascript"></script>
  <script src="../codemirror/addon/edit/matchbrackets.js" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="styles.css" />
  <script src="mode-easycrypt.js" type="text/javascript"></script>
  <script src="editor.js" type="text/javascript" charset="utf-8"></script>

  <script>
    var editor = null;

    $(function () {
    	editor = create_editor(window.ecmanager);
    	delete window.ecmanager;
    	editor.focus();
     });
  </script>
</head>
<body><textarea id="editor"></textarea></body>
</html>
